@import "./variables";

.card {
    overflow: unset;
}

.panel {
    box-shadow: none;
    
    .panel-block {
        display: block;
        padding: $panel-content-padding;
        background: hsl(0, 0%, 24%)
    }
}

.select {
    select {
        option {
            color: $input-color;
        }
    }
}

.control {
    &.has-icons-left,
    &.has-icons-right {
        .select select {
            padding-left: 2.5em;
        }
        
        .icon {
            margin: 0 4px;
        }
    }
    
    
}

.table {
    background: none;
}

.b-table {
    thead tr:first-child th {
        position:   sticky;
        top:        0;
        z-index:    10;
        
        background: $grey-darker;
    }
    
    .checkbox-cell {
        .b-checkbox.checkbox {
            margin: 0;
            
            .control-label {
                display: none;
            }
        }
    }
}
